:root {
  --main-blue: #1835D0;
}

a {
  text-decoration-line: none;
  color : black;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

.arrow-button {
  border: none;
  background: none;
  font-size : 2.2em;
}

#read-content {
    margin-top: 4em;
    margin-bottom: 4em;
}

header li:hover {
  color: var(--main-blue) !important;
  text-decoration: underline;
  text-decoration-thickness: 5px; 
}

.calendar-item:hover {
    cursor : pointer;
    color : var(--main-blue) !important;
    text-decoration : underline;
    text-decoration-thickness: 3px;
    text-decoration-color : #000080;
}

.arrow-button {
    border: 1px solid transparent;   /* hover 시 화면 움직임 방지 용 */
    border-radius: 8px; 
}

.arrow-button:hover {
    border: 1px solid var(--main-blue);
}

.note-item:hover, .schedule-item:hover {
    background :#EEEEEE;
}

.note-item-star:hover {
    background :#FAFAD2;
}