ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    margin: 0 16px 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}

#calendar th {
    padding-right : 20px;
}

td:hover {
    cursor : pointer;
    color : green;
    text-decoration : underline;
    text-decoration-color : gold;
}