a {
  text-decoration-line: none;
  color : black;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

#calendar th, td {
    padding-right : 2vw;
}

#read-content {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

header li:hover {
  color: #1835D0 !important;
  text-decoration: underline;
  text-decoration-thickness: 5px; 
}

.calendar-item:hover {
    cursor : pointer;
    font-weight: bold;
    color : #1835D0 !important;
    text-decoration : underline;
    text-decoration-thickness: 3px;
    text-decoration-color : green;
}

.note-item:hover {
    background :#EEEEEE;
}